@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@300&display=swap');

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

h1 {
    margin: 0;
}


:root {
    --body-tan: #FFE5BD;
    /* --ui-green: #28462B; */
    --ui-green: #395734;
}

body {
    margin: 0;
    padding: 0;
}

.color-green {
    color: var(--ui-green);
}

.body-container {
    background-color: var(--body-tan);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-title {
    font-family: 'Black Ops One', system-ui;
    color: var(--ui-green);
    font-size: 30pt;
}

.nav-width-full {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-stack-full {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nav-stack-full hr {
    width: 60%;
    border-color: var(--ui-green);
    color: var(--ui-green);
}

.nav-width-center {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--ui-green);
}



