@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@300&display=swap');

h1 {
    margin: 0;
}


:root {
    --body-tan: #FFE5BD;
    /* --ui-green: #28462B; */
    --ui-green: #395734;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-tan);
}

.monst {
    font-family: 'Montserrat', sans-serif;
}

.blops {
    font-family: 'Black Ops One', system-ui;
}

.color-green {
    color: var(--ui-green);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container {
    background-color: var(--body-tan);
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-title {
    font-family: 'Black Ops One', system-ui;
    color: var(--ui-green);
    font-size: 30pt;
}

/* ----------Navbar---------- */
.nav-width-full {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-stack-full {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nav-stack-full hr {
    width: 60%;
    border-color: var(--ui-green);
    color: var(--ui-green);
}

.nav-width-center {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--ui-green);
}

.active {
    text-decoration: underline;
    /* font-weight: bold; */
}

.shop-grid {
    width: 90%;
    height: 75vh;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
}

.shop-g {
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.shop-section-head {
    font-family: 'Black Ops One', system-ui;
    color: var(--ui-green);
    font-size: 15pt;
    text-decoration: underline;
    margin-bottom: 3.5em;
}


.shop-feat {
    border: 1px solid black;
    width: 40%;
    min-height: 60%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    overflow: hidden;
}

.f-text {
    /* background-color: white; */
    /* overflow: auto; */
}

.f-img {
    display: grid;
    /* place-items: center; */
}

.feat-img {
    width: 90%;
    height: 100%;
    /* object-fit: scale-down; */
}

.buy-btn {
    background-color: var(--ui-green);
    padding: 5px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}


.f-desc-foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.desc-foot-spacer {
    width: 50%;
}

/* ----------About Page---------- */
.comp-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.comp-split-grid {
    width: 70%;
    /*
    display: flex;
    justify-content: space-evenly;
    align-items: top;
   */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.comp-info  hr {
    width: 80%;
    border-color: var(--ui-green);
}

.mission-border-right {
    border-right: 1px solid var(--ui-green);
}

.comp-content {
    padding: 10px;
}

.panther-info {
    width: 50%;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.panther-info img {
    width: 70%;
    height: auto;
    border: 2px solid var(--ui-green);
    border-radius: 10px;
}

.more-panther-pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.more-pic {
    display: grid;
    place-items: center;
}

/* ----------Experiments---------- */
.exp-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    
}

.shop-other {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-center;
    align-items: center;
}

.exp-container {
    width: 100%;
}

.experiment {
    width: 20%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-radius: 10px;
    overflow: hidden;
    /*
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   */
    border: 1px solid var(--ui-green);
}

.experiment-img {
    display: flex;
    justify-content: flex-start;
}

.experiment-img img {
    width: 80%;
    height: auto;
}

/* ----------Videos---------- */
.video-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
}

.video {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.vid-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.vid-c-vid {
    display: flex;
    justify-content: center;
}

.vid-c-vid  img {
    width: 50%;
    height: auto;
    border: 2px solid var(--ui-green);
    border-radius: 10px;
}

.video hr {
    width: 90%;
    border-color: var(--ui-green);
}


